<nav style="padding-top:0px;padding-left: 0px;"  class="navbar nva1 navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img loading="lazy" src="./../../assets/log1.png" class="img1" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Destinations</a>

          </li>
          <li class="nav-item">
          <a class="nav-link active" href="#">Themes</a>

          </li>
          <li class="nav-item">
          <a class="nav-link active" href="#">Popular</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" href="#">Seasons</a>
          </li>
        </ul>
        <!-- <span class="navbar-text">
          <button style="margin-right: 20px;color:#fff" class="btn btn-primary ">Customize</button>
          <button style="color: #fff;" class="bt2 btn btn-primary">Login</button>
        </span> -->
      </div>
    </div>
  </nav>