<div style="margin-top:-120px;font-size: 17px;" class="cont32 ">
    <div class="container">
      <div class="row">
        <div style="padding-right: 50px;margin-top: 50px;" class="col-md-4">
          <p><span style="font-size:17px;font-weight:bold">Morning Star's </span> Holidays is a tour packages marketplace connecting World's best tour operators with travellers to choose from  hundreds of travel packages for their next holiday.</p>
        </div>
        <div style="margin-left:0px;padding-left: 50px;" class="col-md-3">
          <p>Travellers</p>
        <p>About Morning Star's </p>
        <p>Why Morning Stars</p>
        <p>Privacy Policy</p>
        <p>Terms and Conditions</p> 
        </div>
        <div class="col-md-3">
          <p>Tour Operators</p> 
          <p>Why Work with Morning Star's</p>
          <p>Login</p>
        </div>
        <div class="col-md-2">
          <p>Contact Us</p>
          <p>+91-9009200041</p>
        </div>
      </div>
      </div>
      
  </div>